.service-heading{
    padding-top: 200px;
    text-align: center;
    padding-right: 100px;
    font-size:3rem;
    font-weight:bold;
    padding-bottom: 100px;
}

.icon-card:hover{
    transform: scale(1.5);
}

.service-details{
    text-align:centre;
    background-color:transparent;
}

.card{
    margin-top:100px;
    opacity: 0.7;
    background-color: transparent;
    padding-bottom: 50px;
}

.last-footer{
    background-color: rgba(0, 0, 0, 0.2);
}

.footer-class{
    padding-top:40px;
}

.about-section{
    text-align:center;
    margin-top: 250px;
    color: white;
    padding-bottom: 4rem;
}

.about-h1{
    font-size:3rem;
    font-weight: bold;
    padding:2rem;
}
.about-h2{
    font-size:2rem;
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top:100px;
}
